.loading
{
    margin-top: 20px;
}

.eduLink
{
    background-color: transparent;
    color: Black;
    transition-duration: 0.3s;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: rgb(0, 110, 255);
    font-size: medium;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}
.eduLink:hover
{
    background-color: rgb(57, 245, 0);
    color: white;
    border-color: rgb(57, 245, 0);
}