{% load static %}
    <link rel="stylesheet" href="{% static "css/404.css" %}">

<figure>
	<div class="sad-mac"></div>
	<figcaption>
		<span class="sr-text">Error 404: Not Found</span>
		<span class="e"></span>
		<span class="r"></span>
		<span class="r"></span>
		<span class="o"></span>
		<span class="r"></span>
		<span class="_5"></span>
		<span class="_0"></span>
		<span class="_0"></span>
		<span class="i"></span>
		<span class="n"></span>
		<span class="t"></span>
		<span class="e"></span>
		<span class="r"></span>
		<span class="n"></span>
		<span class="a"></span>
		<span class="l"></span>
	</figcaption>
</figure>

<p style="color:white">Please click <a href="http://127.0.0.1:8000/home">here</a> to be redirected to the homepage.</p>