<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Unexpected Error</title>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
    <link href="{% static "css/500.css" %}" rel="stylesheet" type="text/css" />

</head>

<div class="error-502__container">
	<div class="error-502">
		<div class="error-502__text">
			<h1>Unexpected Error <b>:(</b></h1>
			<h2><p>You can go back to our <a href="http://127.0.0.1:8000/">Homepage</a>.</p></h2>
		</div>
	</div>
</div>
<div class="gears">
    <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
</html>